* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
main {
  width: 100%;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.first-container {
  width: 100%;
  height: 50%;
  display: block;
  align-items: center;
}

.upper {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lower {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.last-container {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}
.rectangle {
  width: 20%;
  height: 50vh;
  background-color: yellow;
  color: black;
}

.blueRactangle {
  width: 40%;
  height: 25vh;
  background-color: lightblue;
}

.circle {
  width: 20vh;
  height: 20vh;
  background-color: navy;
  border-radius: 50%;
  color: white;
}

.bluecircle {
  width: 20vh;
  height: 20vh;
  background-color: lightblue;
  border-radius: 50%;
  color: black;
}

.square {
  width: 20%;
  height: 25vh;
  background-color: pink;
  color: white;
}

.rectangle2 {
  width: 40%;
  height: 25vh;
  background-color: navy;
}

.yellowRectangle {
  width: 40%;
  height: 25vh;
  background-color: yellow;
}

.longRactangle {
  width: 60%;
  height: 25vh;
  background-color: red;
}